* {
  margin: 0;
  padding: 0;
  font-family: "poppins", serif;
}

html,
body {
  background-color: beige;
  background-size: cover;
  font-family: clock, seans-serit;
  place-content: center;
  background-position: center;
  display: grid;
  height: 100%;
  place-items: center;
}

div {
  height: 300px;
  width: 500px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 20px;
  cursor: all-scroll;
  animation: animate 1.5s linear infinete;
}

h1,
h2 {
  text-decoration-line: inherit;
  font-weight: normal;
  text-align: center;
  color: #fff;
  line-height: 85px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: ;
  animation: animate 15s linear infinete;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360dg);
  }

  h1,
  h2 {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
}
